#nav {
  height:0px;
  display:block;
  position:fixed;
  top:125px;
  left:125px;
  right:125px;
  z-index:500;
  a {
    opacity:0;
  }
}

#logo {
  float:left;
  color:$color-title;
  position:relative;
  p {
    font-size:30px;
    line-height:25px;
    font-weight:normal;
  }
  span {
    font-size:18px;
    line-height:23px;
    font-style: italic;
  }
}

#about-navbar {
  float:right;
  position:relative;
  font-size:30px;
  line-height:25px;
  font-weight:normal;
  color: $color-title;
}