@import "breakpoint";
@import "susy";

$susy: (
  /* Tells Susy to use 12 columns */
        columns: 12,
  /* Tells Susy that the container has a max-width of 1120px */
        container: 1000px,
  /* Tells Susy to use border-box */
        global-box-sizing: border-box
);

@import "settings/_reset";
@import "settings/_font";
@import "settings/_size";
@import "settings/_mixin";
@import "settings/_color";
@import "settings/_icons";
@import "settings/_grid";
@import "settings/_extend";
@import "settings/_modules";

/* Templates */
@import "templates/_body";
@import "templates/_loader";
@import "templates/_home";
@import "templates/_about";
@import "templates/_galery";

/* Partials templates */
@import "templates/partials/_nav";
@import "templates/partials/_footer";

/* Others */
@import "animate/_transition_view";
@import "animate/_keyframes";
