#about {
  top: 0;
  bottom: 0;
  display: block;
  width: calc(100% - 250px);
  margin: auto;
  z-index: 100;
  padding: 300px 0;
  position: relative;
  .page-content {
    p {
      font-size: 20px;
      line-height: 40px;
      font-family: $secondFont;
      font-weight: normal;
      color: $color-text;
      padding-left: 25px;
      max-width: 90%;
      display: block;
    }
    blockquote {
      color: $color-title;
      line-height: 30px;
      max-width: 70%;
      padding: 0;
      font-size: 20px;
      font-family: $secondFont;
      font-weight: normal;
      display: block;
      p {
        padding:0;
        line-height:30px;
        color:$color-title;
        max-width:100%;
      }
    }
    h3 {
      color: $color-subtitle;
      font-size: 30px;
      line-height: 35px;
      font-weight: normal;
      margin: 25px 0;
    }
    h2 {
      font-size: 50px;
      line-height: 60px;
      color: $color-title;
      font-weight: normal;
      margin-top: 100px;
      position: relative;
      @extend .title-border;
      .active:before {
        width: 30px;
      }
    }
  }

  #about-cover {
    width: 90vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    img {
      max-width: 100%;
      margin: 0 auto;
      display: block;
      opacity:1;
    }
  }
}
#about-navigation {
  width: 30px;
  position: fixed;
  right: 125px;
  top:0;
  bottom:0;
  margin:auto;
  z-index:200;
  display:block;
  overflow:hidden;
  transform-origin: 0 0;
  ul {
    margin:0;
    padding:0;
    list-style-type: none;
    li {
      height:30px;
      width:30px;
      border-radius:50%;
      border:8px solid $background;
      background:$color-title;
      cursor:pointer;
      margin-bottom:50px;
      position:relative;
      z-index:150;
      @include transition-css(all);
      &.active {
        background: $color-subtitle;
      }
      &:after {
        position:absolute;
        z-index:105;
        height:10px;
        width:10px;
        content:"";
        margin:auto;
        left:0;
        right:0;
        top:0;
        bottom:0;
        background: $background;
        border-radius:50%;
      }
    }
    li:last-of-type {
      margin-bottom:0;
    }
  }

  #dot-loading {
    height:0;
    position:absolute;
    background:$color-subtitle;
    width:1px;
    margin:0 auto;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index:100;
  }
}