#about {
  background: url('./../images/background-about.jpg') center center no-repeat;
  .about-navigation {
    position:absolute;
    width:90px;
    height:80px;
    margin:auto;
    bottom:50px;
    right:0;
    left:0;
  }
}