#galery {
  display:block;
  margin:0 auto;
  margin-bottom:100px;
  .picture {
    padding:0;
    margin:0;
    display:inline-block;
    margin-bottom:20px;
    img {
      opacity:0;
      max-width:300px;
    }
  }
  p {
    position:absolute;
    bottom:0;
    width:100%;
    color:white;
    text-align:center;
    font-size:15px;
  }
}
#load-more {
  padding:20px;
  margin:10px auto;
  display:block;
  margin-bottom:100px;
}
#box-preview {
  position:fixed;
  z-index:600;
  width:100%;
  height:100%;
  @include rgba_grey(0.8);
  text-align:center;
  top:0;
  right:0;
  left:0;
  bottom:0;
  padding:100px 0;
  img {
    max-width:90%;
    max-height:calc(100% - 200px);
  }
}