button.square-button {
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  padding: 0px;
  margin: 0px;
  font-size:15px;
  position: relative;
  display: inline-block;
  color: white;
  @include rgba_grey(0.6);

  span[class^="icon-"] {
    font-size:20px;
  }
  &:hover {
    background: $yellow1;
  }
}

section {
  margin: 0px;
  padding: 0px;
  min-height: calc(100vh - 50px);
  width: 100%;
  display: block;
  position: relative;
}
