@mixin transition($elem, $duration, $delay) {

  transition: $elem $duration ease-in;
  -moz-transition: $elem $duration ease-in;
  -ms-transition: $elem $duration ease-in;
  -o-transition: $elem $duration ease-in;
  -webkit-transition: $elem $duration ease-in;

  transition-delay: $delay;
  -webkit-transition-delay: $delay;
  -o-transition-delay: $delay;
  -ms-transition-delay: $delay;
  -moz-transition-delay: $delay;
}

@mixin rgba_grey($opacity) {
  background: rgba(27, 27, 27, $opacity);
}